html {
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    line-height: 1.6;
    background-color: var(--bg-light);
    color: var(--text-main);
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    min-height: calc(100vh - 200px);
    padding: 0 var(--spacing-md);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}